.login-input {
  @include input-base;
  @include text-base;
  width: clamp(10rem, 50%, 20rem);
}

.login-button {
  @include button-base;
  width: clamp(10rem, 50%, 20rem);;
}

.login-ui-container {
  width: clamp(10rem, 50%, 20rem);
}
