.fitness-parent {
  padding: 10% 0;
  display: grid;
  row-gap: 2rem;
  grid-template-areas:
    "t"
    "c"
    "m"
    "g";
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 5rem) 13rem 1fr;
  overflow: hidden;
  //TODO: dom says this is invalid
  // grid-template-rows: repeat(3, 5rem), auto;

  height: 100%;
  width: 100%;
  position: relative;

  .rt-container {
    @include basic-border();
    width: 70%;
    justify-self: center;
    gap: 0;
    border-radius: 12px;
    position: relative;
    grid-area: t;
    box-shadow: 0 0 2rem $black;

    .rt-tab {
      font-weight: 700;
      width: 100%;
      height: 100%;
      align-items: center;
      color: $tertiary;
      // outline: 1px solid white;
    }

    .rt-tab-selected {
      border-radius: 12px;
      background: $tertiary;
      color: $primary;
    }
  }

  .upload-container {
    @include flex-col;
    padding: 5px;
    gap: 1rem;

    border-radius: 10px;

    input {
      @include basic-border();
      padding: 5px;
      width: 100%;
    }
  }

  .workout-metrics {
    display: grid;
    grid-template-columns: auto auto;
    grid-area: m;
    gap: 1rem;
  }

  // .graph-controls {
  //   @include flex;
  //   gap: 2rem;
  //   grid-area: c;

  //   .control-container {
  //     @include flex-col();
  //     align-items: center;
  //     gap: 0.25rem;

  //     label {
  //       padding: 0 0.5rem;
  //     }

  //     .fitness-counter {
  //       display: flex;
  //       align-items: center;
  //       justify-content: space-between;
  //       height: 70px;
  //       width: 150px;
  //       box-shadow: 0 0 2rem $black;

  //       .value {
  //         @include basic-border;
  //         height: 100%;
  //         width: 100%;
  //         justify-content: center;
  //         font-size: 2rem;
  //         display: inline-flex;
  //         align-items: center;
  //         color: $tertiary;
  //       }

  //       .button-container {
  //         @include text-lg;
  //         display: flex;
  //         flex-direction: column;
  //         height: 100%;
  //         width: 70%;

  //         button {
  //           @include button-lite;
  //           @include basic-border;

  //           display: inline-flex;
  //           align-items: center;
  //           height: 100%;

  //           &.plus {
  //             border-top-right-radius: 12px;
  //             border-bottom-right-radius: 12px;
  //           }

  //           &.minus {
  //             border-top-left-radius: 12px;
  //             border-bottom-left-radius: 12px;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }

  .date-pickers-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
.dp-wrapper{
  min-width: 150px;
  .dp-input{
    padding: 0;
  }
}

  }

  .graph-container {
    height: 100%;
    max-width: 100%;
    scrollbar-width: thin;
    overflow-y: scroll;
    grid-area: g;
    box-shadow: 0 0 2rem $black;

    .graph {
      display: grid;
      width: 100%;
      height: 100%;

      grid-template-areas:
        ". X"
        "G G";
      grid-template-columns: 3rem auto;
      //TODO: figure out why inspect says this is invalid
      grid-template-rows: 1rem, auto;
      @include text-base;

      .y-axis {
        grid-area: Y;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: end;
        padding-right: 5px;
      }

      .x-axis {
        grid-area: X;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .graph-data {
        grid-area: G;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        height: 100%;

        .bar-container {
          @include basic-border;
          border-color: $tertiary;
          scroll-snap-align: end;
          height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 0.25rem 0;

          .date {
            color: $white;
            text-align: end;
            padding-right: 0.5rem;
            right: 0;
          }

          .bar {
            width: 100%;
            display: flex;
            gap: 0.25rem;

            .bar-value {
              width: var(--bar-height);
              display: flex;
              justify-content: center;
              align-items: center;

              &.distance {
                background: $accent-orange-default;
              }

              &.heartRate {
                background: $accent-red-default;
              }

              &.stepCount {
                background: $accent-green-default;
              }

              .label {
                color: $black;
              }
            }
          }
        }
      }
    }
  }
}

.fitness-button {
  @include button-base;
}
