.surf {
  &-grid {
    @include full;
    display: grid;
    grid-template-areas:
      "F F F F"
      "F F F F"
      "C1 C1 C1 C1"
      "C1 C1 C1 C1"
      "C2 C2 C2 C2"
      "C2 C2 C2 C2";
    &-area {
      &-flag {
        // @include flex-col;
        @include text-lg;
        grid-area: F;
        display: grid;
        grid-template-areas:
          "Sr Sr Sr Sr"
          "W W W Sn"
          "W W W Sn";

        &-green {
          @extend .surf-grid-area-flag;
          background-color: $good;
        }
        &-yellow {
          @extend .surf-grid-area-flag;
          background-color: $warning;
        }
        &-red {
          @extend .surf-grid-area-flag;
          background-color: $danger;
        }

        .grid-cell {
          @include flex-col;
          @include text-base;
          gap: 1rem;

          &-risk {
            @extend .grid-cell;
            @include text-2xl;
            font-weight: 700;
            grid-area: Sr;
          }
          &-weather {
            @extend .grid-cell;
            grid-area: W;
          }
          &-sun {
            @extend .grid-cell;
            grid-area: Sn;
          }
        }
      }
      &-cam-1 {
        @include flex;
        grid-area: C1;
      }
      &-cam-2 {
        @include flex;
        grid-area: C2;
      }
      &-sun {
        @include flex-col;
        gap: 1rem;
        grid-area: S;
        @include text-lg;
      }
      &-weather {
        @include flex-col;
        gap: 0.5rem;
        grid-area: W;
        text-wrap: wrap;
      }
    }
  }
  &-suntime {
    @include flex;
    align-items: flex-end;
    gap: 1rem;
  }
}

.grid-cell {
}
