.surf {
  &-grid {
    @include full;
    display: grid;
    grid-template-areas:
      "F F F F"
      "F F F F"
      "C C C C"
      "C C C C"
      "W W W W"
      "S S S S";
    &-area {
      &-flag {
        @include flex;
        grid-area: F;
        @include text-lg;
        &-green {
          @extend .surf-grid-area-flag;
          background-color: $good;
        }
        &-yellow {
          @extend .surf-grid-area-flag;
          background-color: $warning;
        }
        &-red {
          @extend .surf-grid-area-flag;
          background-color: $danger;
        }
        &-risk {
          @include text-2xl;
          font-weight: 700;
        }
      }
      &-cam {
        @include flex;
        grid-area: C;
      }
      &-sun {
        @include flex;
        grid-area: S;
        @include text-lg;
      }
      &-weather {
        @include flex;
        grid-area: W;
        text-wrap: wrap;
      }
    }
  }
}
