/* Base Colors */
$white: #ffffff;
$black: #000000;
$aqua: #7fdbff;
$lightGray: #94a3b8;
$darkGray: #1f2937;
$slate300: #cbd5e1;
$blueLink: #1d4ed8;
$red: #b81d12;

$ds-blue: #3b82f6;
$ds-green: #22c55e;

$blueGray: #1a202c;

$good: #22c55e;
$warning: #eab308;
$danger: #ef4444;

/* Used Colors */

$primary: $black;
$secondary: $blueGray;
$tertiary: $aqua;

$accent: $white;
$focus: $aqua;

$textColor: $white;
$altTextColor: $black;

$invalid: $red;

$sidebar: $blueGray;



// Primary Colors
$primary-aqua: #7fdbff;
$primary-blue-gray: #1a202c;
$primary-white: #ffffff;
$primary-black: #000000;

$aqua-shade-1: #c4f1ff;
$aqua-shade-2: #aee9ff;
$aqua-shade-3: #98e0ff;
$aqua-shade-4: #82d6ff;
$aqua-shade-5: #6ccccf;
$aqua-shade-6: #56c2ff;
$aqua-shade-7: #40b8ff;
$aqua-shade-8: #2aaeff;
$aqua-shade-9: #14a4ff;
$aqua-shade-10: #008aff;

$blue-gray-shade-1: #e2e8f0;
$blue-gray-shade-2: #cbd5e0;
$blue-gray-shade-3: #a0aec0;
$blue-gray-shade-4: #718096;
$blue-gray-shade-5: #4a5568;
$blue-gray-shade-6: #2d3748;
$blue-gray-shade-7: #1a202c;
$blue-gray-shade-8: #131a2b;
$blue-gray-shade-9: #0e1421;
$blue-gray-shade-10: #080d15;

$white-shade-1: #f5f5f5;
$white-shade-2: #ebebeb;
$white-shade-3: #e0e0e0;
$white-shade-4: #d6d6d6;
$white-shade-5: #cccccc;
$white-shade-6: #bfbfbf;
$white-shade-7: #b3b3b3;
$white-shade-8: #a6a6a6;
$white-shade-9: #999999;
$white-shade-10: #8c8c8c;

$black-shade-1: #333333;
$black-shade-2: #4d4d4d;
$black-shade-3: #666666;
$black-shade-4: #808080;
$black-shade-5: #999999;
$black-shade-6: #b3b3b3;
$black-shade-7: #cccccc;
$black-shade-8: #e6e6e6;
$black-shade-9: #f0f0f0;
$black-shade-10: #f5f5f5;

// Accent Colors
$accent-red-default: #ff7f7f;
$accent-green-default: #b2ffb2;
$accent-yellow-default: #fff17f;
$accent-orange-default: #ffce7f;

$red-shade-1: #ffe5e5;
$red-shade-2: #ffcccc;
$red-shade-3: #ffb2b2;
$red-shade-4: #ff9999;
$red-shade-5: #ff7f7f;
$red-shade-6: #ff6666;
$red-shade-7: #ff4c4c;
$red-shade-8: #ff3232;
$red-shade-9: #ff1919;
$red-shade-10: #ff0000;

$green-shade-1: #e5ffe5;
$green-shade-2: #ccffcc;
$green-shade-3: #b2ffb2;
$green-shade-4: #99ff99;
$green-shade-5: #7fff7f;
$green-shade-6: #66ff66;
$green-shade-7: #4cff4c;
$green-shade-8: #32ff32;
$green-shade-9: #19ff19;
$green-shade-10: #00ff00;

$yellow-shade-1: #fffde5;
$yellow-shade-2: #fffacc;
$yellow-shade-3: #fff7b2;
$yellow-shade-4: #fff499;
$yellow-shade-5: #fff17f;
$yellow-shade-6: #ffee66;
$yellow-shade-7: #ffeb4c;
$yellow-shade-8: #ffe832;
$yellow-shade-9: #ffe519;
$yellow-shade-10: #ffe200;

$orange-shade-1: #fff5e5;
$orange-shade-2: #ffebcc;
$orange-shade-3: #ffe2b2;
$orange-shade-4: #ffd899;
$orange-shade-5: #ffce7f;
$orange-shade-6: #ffc566;
$orange-shade-7: #ffbb4c;
$orange-shade-8: #ffb232;
$orange-shade-9: #ffa819;
$orange-shade-10: #ff9f00;
