.greedyContainer {
  height: 100%;
  width: 100%;
}

.colContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rowContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexGrow {
  flex-grow: 1;
}
