button,
input,
textarea {
  background: none;
  border: none;
  color: white;
  font: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  width: auto;
  height: auto;
}

a {
  color: white;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
