@import url("../styles/reset.css");
@import url("../styles/spinner.css");
@import url("../styles/container.css");
@import url("../styles/grid.css");
@import url("../styles/border.css");

body {
  color: white;
  background: black;
  width: 100vw;
  height: 100vh;
  margin: 0;
}
