@mixin button-base {
  background: $primary;
  border: 1px solid $secondary;
  border-radius: 0.25rem;
  color: $white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-width: 6rem;
  padding: 0.25rem 0.5rem;
  text-wrap: nowrap;

  &:disabled {
    @include button-disabled;
  }
}


