.greedy-container {
  height: 100%;
  width: 100%;
}

.col-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-grow {
  flex-grow: 1;
}
