@mixin input-base {
  background: $white;
  border: 1px solid $aqua;
  border-radius: 0.25rem;
  color: $black;
  padding: 0.25rem 0.5rem;

  &:disabled {
    @include disabled-input;
  }
}

@mixin disabled-input {
  background: $lightGray;
  border: 1px solid $slate300;
  color: $darkGray;
  cursor: not-allowed;
}
