@mixin input-base {
  background: $secondary;
  border: 1px solid $focus;
  border-radius: 0.25rem;
  color: $altTextColor;
  padding: 0.25rem 0.5rem;

  &:disabled {
    @include disabled-input;
  }
}

.input-base {
  @include input-base;
}
